<%= form_with(model: feature, local: true) do |form| %>
  <% if feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% feature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :feature_user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feature_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :feature_description %>
  </div>

  <div class="field">
    <%= form.label :stakeholder %>
    <%= form.text_field :stakeholder, id: :feature_stakeholder %>
  </div>

  <div class="field">
    <%= form.label :documentation %>
    <%= form.text_field :documentation, id: :feature_documentation %>
  </div>

  <div class="field">
    <%= form.label :required_at %>
    <%= form.datetime_select :required_at, id: :feature_required_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
